.addRecipePage {
  width: 350px;
  margin: 0 auto;
}

.addRecipePage input {
  width: 300px;
  height: 20px;
  padding: 10px;
  border: 2px solid transparent;
  transition: 0.2s;
  margin: 0 auto;
  border-radius: 5px;
}

.addRecipePage .stepRow input {
  width: 236px;
  position: absolute;
  left: 0;
}

.addRecipePage .ingredientsContainer .ingredientRow,
.addRecipePage .stepsContainer .stepRow {
  width: 300px;
  height: 40px;
  margin: 5px auto;
  position: relative;
}

.actionButton,
.addRecipePage .ingredientsContainer .selectIngredientButton {
  width: 300px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  margin: 5px 0;
  display: inline-block;
}

.addRecipePage .ingredientsContainer .selectIngredientButton {
  position: absolute;
  left: 0;
  top: 0;
}

.addRecipePage .ingredientsContainer .removeIngredient,
.addRecipePage .stepsContainer .removeStep {
  width: 40px;
  height: 40px;
  border: 0;
  margin: 5px 0;
  display: inline-block;
  position: absolute;
  right: 0;
  background-color: #ff9999;
  border-radius: 5px;
}

.addRecipePage .stepsContainer button {
  width: 300px;
  min-height: 40px;
  height: auto;
  transition: 0.3s;
  border: 0;
  border-radius: 5px;
  margin: 5px;
}

.addRecipePage .stepsContainer button:hover {
  background-color: #ff9999;
}

.actionButton {
  background-color: #f3b03d;
  color: white;
}

.addRecipePage select,
.selectIngredient select {
  width: 300px;
  height: 40px;
  border: 0;
}

.addRecipePage input:hover,
.addRecipePage button:hover,
.addRecipePage input:focus,
.addRecipePage button:focus {
  border: 2px solid black;
}

.selectIngredient {
  width: 350px;
  margin: 0 auto;
}

.selectIngredient input {
  /* SEARCH */
  width: 300px;
  height: 40px;
  margin: 10px 0;
  border: 2px solid black;
  border-radius: 5px;
}

.selectIngredient button {
  text-align: left;
}

.selectIngredient .ingredientsContainer {
  text-align: center;
}

.selectIngredient .ingredientsContainer button {
  width: 300px;
  margin: 5px;
  height: 40px;
  border: 0;
  border-radius: 5px;
}

.imageLabel {
  width: 350px;
  text-align: left;
  background-color: rgb(239, 239, 239);
  color: black;
  height: 40px;
  transition: 0.25s;
  vertical-align: middle;
  line-height: 40px;
  padding: 5px;
  border-radius: 5px;
}

.imageLabel:hover {
  background-color: #333;
  color: white;
}

.imageLabel:active {
  background-color: #111;
}

.addRecipePage .preview {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 2px dotted black;
}

.stepRow .removeStep {
  margin: 2px 0 !important;
}
