.footer {
  background-color: #f3b03d;
  color: white;
  height: 125px;
  margin-top: 50px;
  padding-top: 75px;
}

.footer a {
  margin: 15px;
  color: white;
  padding: 15px 0;
}

.footer a:active,
.footer a:focus {
  color: white;
}
